<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>NEUST Portal Directory - Redirect Not Found</title>
	<meta name="description" content="Redirect not found. Redirect URL to the main NEUST Portal Directory...">

	<meta property="og:url" content="https://{{ dept }}.neust-portal.link">
	<meta property="og:type" content="website">
	<meta property="og:title" content="NEUST Portal Directory - Redirect Not Found">
	<meta property="og:description" content="Redirect not found. Redirect URL to the main NEUST Portal Directory...">
	<meta property="og:image" content="https://ograph.{{ base_url }}/error">
	
	<meta name="twitter:card" content="summary_large_image">
	<meta property="twitter:domain" content="{{ dept }}.neust-portal.link">
	<meta property="twitter:url" content="https://{{ dept }}.neust-portal.link">
	<meta name="twitter:title" content="NEUST Portal Directory - Redirect Not Found">
	<meta name="twitter:description" content="Redirect not found. Redirect URL to the main NEUST Portal Directory...">
	<meta name="twitter:image" content="https://ograph.{{ base_url }}/error">
</head>
<body>
	{{ dept }} Portal not found. Redirecting to the main NEUST Portal Directory...
	<script>
		setTimeout(() => {
			window.location.replace("{{ url }}");
		}, 3000);
	</script>
</body>
</html>